{% extends 'StalkAdminBundle::layout.html.twig' %}

{% block body -%}

    {% for flashMessage in app.session.flashbag.get('notice-successfully') %}

        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage|raw }}
        </div>

    {% endfor %}

    <h2 class="text-info">Обратная связь</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Дата создания</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.phone }}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('feedback_show', { 'id': entity.id }) }}" class="btn btn-primary" title="Подробнее">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
