<div class="row">
    <div class="col-md-5">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            <input class="form-control input-sm searchVideo" type="text" placeholder="Поиск...">
        </div>
    </div>
        
    <div class="col-md-3">
        <select class="form-control input-sm filterVideo">
            <option value="">- Выберите категорию -</option>
            <option value="Модули">Модули</option>
            <option value="IP-телефония">IP-телефония</option>
            <option value="Разное">Разное</option>
        </select>
    </div>

</div>

<br/>

{{ entity.videoDescription|raw }}

<br/>

<div class="row">
    
    {% for video in entity.video %}
    
        <div class="col-md-3 youtube" data-category="{{video.category}}">   
            <a href="http://www.youtube.com/embed/{{video.url|youtubeId}}?autoplay=1" class="various fancybox.iframe">
                <img src="{{ video.thumbnail }}" alt="" class="img-rounded" width="200px" height="120px">
            </a>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-link"></span></div>
                <input class="form-control input-sm" type="text" value="{{video.url}}">
              </div>
            </div>
            <span class="text-info">{{video.title}}</span>
        </div>
    
    {% endfor %}
    
</div>

<br/>