<p><strong>Имя:</strong> {{ entity.firstname }}</p>

<p><strong>Email:</strong> {{ entity.email }}</p>

<p><strong>Телефон:</strong> {{ entity.phone }}</p>

<p><strong>Сообщение:</strong> {{ entity.message }}</p>

<p><strong>IP-адрес:</strong> {{ entity.ip }}</p>