<!-- Modal -->
<div class="modal" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    
    <div class="modal-dialog">
        
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="contactModalLabel">Шаг 2: Контактная информация</h4>
            </div>
            
            <div class="modal-body">
                {{form_row(form.firstname)}}
                {{form_row(form.surname)}}
                {{form_row(form.email)}}
                {{form_row(form.phone)}}
                {{form_row(form.company)}}
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary confirmationModal">Шаг 3: Подтверждение информации <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
            
        </div>
            
    </div>
        
</div>