{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'StalkUserBundle:Form:fields.html.twig' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

    {{ form_errors(form) }}
    
    <div class="container-fluid">
        <div class="row">            
            <div class="col-md-12">
                {{ form_row(form.current_password) }}
                {{ form_row(form.plainPassword) }}
            </div>
        </div>

        {{ form_widget(form) }}
            
        <button type="submit" class="btn btn-primary col-md-12">
            {{ 'resetting.reset.profile_submit'|trans }}
        </button>
      
    </div>
    
</form>
