{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<ul class="pagination">

    {% if previous is defined %}
        <li class="previous">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;</a>
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="page">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="active">
                <a href="#">{{ page }}</a>
            </li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li class="next">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&raquo;</a>
        </li>
    {% endif %}

</ul>
{% endif %}
