<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}Панель управления | SugarTalk Affiliate{% endblock %}
    </title>

    {% block stylesheets %}

        {% stylesheets 'bundles/stalkadmin/css/bootstrap.min.css'
            'bundles/stalkadmin/css/style.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}
            
    {% block styles %}{% endblock %}
            
    {% block javascripts %}

        {% javascripts
            '@StalkAdminBundle/Resources/public/js/jquery-1.11.0.min.js'
            '@StalkAdminBundle/Resources/public/js/bootstrap.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock %}

</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        {% block menu %}
        
            <div class="container">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="{{path('stalk_affiliate_homepage')}}">Партнерская программа</a>

                </div>

                <div class="navbar-collapse collapse">
                    
                    <div class="dropdown pull-right">

                        <a href="#" data-toggle="dropdown" class="dropdown-toggle navbar-text">

                                Привет, {{ app.user.firstname }}!   

                        </a>

                        <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">

                            <!--<li><a href="#">Изменить профиль</a></li>

                            <li class="divider"></li>-->

                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <span class="glyphicon glyphicon-log-out"></span> Выйти
                                </a>
                            </li> 

                        </ul>

                    </div>
                    
                    {{ knp_menu_render('StalkAdminBundle:Builder:mainMenu', {'allow_safe_labels': true} ) }} 

                </div>

            </div>
        
        {% endblock %}
      
    </div>


  <div class="container">

      <div class="row">
          
          {% block body %}{% endblock %}

      </div>

  </div>


</body>
</html>
